nav{
	background: url("diffstyle_top_solo.png") ;
	height: 20%;
	padding: 0;
	margin: 0;
}

.logo-diff{
	width: 100%;
}

.navbar-brand{
	width: 10%;
}

.barra-pesquisa{
	width: 50%;
	margin-right: 50%;
}

.bs-example {
	margin: auto;
	width: 100%;
	height: auto;
	background: #00BFFF;
}

.dropdown-toggle{
    margin-left: 30px;
	text-decoration: none ;
	color: black;
}
  
.dropdown:hover .dropdown-menu {
	display: block;
}

.pagina-principal{
	width: 100%;
}

body{
	background: #87CEEB;
}

